<html>
	<head>
        <title>Add a restaurant</title>
    </head>
	
	<body>
		<script src="addRes.js"></script>
		
		<a href="http://localhost:3000">Home</a>
		<a href="http://localhost:3000/addrestaurant">Add Restaurant</a>
		<a href="http://localhost:3000/restaurants">Browse Restaurants</a>
		<br>
		<br>
		Restaurant Name: <input type="textbox" id="restaurantName" size="20"><br>
		
		Delivery Fee: <input type="textbox" id="deliveryFee" size="20"><br>
		
		Minimum Order: <input type="textbox" id="minimumOrder" size="20"><br>
	
		<button type="button" id="submit" onclick="submit()">Submit</button>
	</body>
</html>
